{% extends 'request_a_service.html' %}

{% block how_do_we_work %}

<div class="collapse-show" id="get_maintenance_reminders">
    <p>REGULAR MAINTENANCE MADE EASY
Stay on schedule, your way. Get maintenance reminders via email, text or our mobile app. We’ll send you reminders when it’s time to do your next oil or your scheduled service.

QUICK EASY BOOKING
From reminders to booking, it takes less than 30 seconds. Simply open the link in the reminder, select a time and book your next maintenance. A highly rated mechanic will come to you to perform the service. Taking care of your car has never been easier. And as they say, prevention is better than care.</p>
    
    
  {% endblock how_do_we_work %} 